<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460155358748-kqj5567q74376r1loet0tm6h7a7o0u2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460155358748-kqj5567q74376r1loet0tm6h7a7o0u2m</string>
	<key>API_KEY</key>
	<string>AIzaSyBgEGz2lO1ikgpAUuFS5Jem_ib9n6-7U1w</string>
	<key>GCM_SENDER_ID</key>
	<string>460155358748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smaranp.windfields-connect</string>
	<key>PROJECT_ID</key>
	<string>windfields-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>windfields-connect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460155358748:ios:64825f790f99f6bb1d99d9</string>
</dict>
</plist>